*{
    padding:0;
    margin:0;
    border:0;
    outline:0;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box;
    background: transparent;
    background-color: rgb(196, 32, 32);
    font-family: sans-serif;
}
}
html{
    scroll-behavior: smooth;
}
p.introduction{
    font-size: 3rem;
     color: purple/*!important*/; 
}
p.firstarticle{
    color:darkcyan !important ;
}
p.firstarticle > span{
    color:red;
}
p.secondarticle  {
    padding: 10px;
    height: auto;
    width: auto;
    background-color: skyblue;
    border: 25px solid red;
    border-radius: 25px;
    border-radius: 4px;
    /* opacity: 0.15; */
}
p.thirdArticle >span#part{
/* font-size: 3.5rem !important; */
font-weight: 900;
font-style: italic;
}
#zero{
    font-style: italic;
    text-decoration: underline;
}
#one{
    font-style: oblique;
    font-size: 4rem;
    height: auto;
    width: auto;
    border: 23px  solid skyblue;
}
.fourthpara{
    background-color:rgb(231, 230, 241);
    border: 3px solid rgb(64, 6, 119);
    padding: 23px 56px 68px 78px;
    /* padding: y(top/bottom) x(left/right); */
    /* padding-top: 23px;
    padding-bottom: 56px;
    padding-left: 68px;
    padding-right:78px; */
    /* padding: 34px 19px; */
     margin: 14px 19px 10px 12px;
   /* margin-top: 14px;
    margin-bottom: 19px;
    margin-left: 10px;
    margin-right: 12px;
    border-radius: 23px; */
    width:199px;
    box-sizing: border-box;
    background-color: pink;
    float: left;
    width: 48%;
}
.fifth{
    background-color:rgb(231, 230, 241);
    border: 3px solid rgb(64, 6, 119);
    padding: 23px 56px 68px 78px;
    /* padding: y(top/bottom) x(left/right); */
    /* padding-top: 23px;
    padding-bottom: 56px;
    padding-left: 68px;
    padding-right:78px; */
    /* padding: 34px 19px; */
     margin: 14px 19px 10px 12px;
   /* margin-top: 14px;
    margin-bottom: 19px;
    margin-left: 10px;
    margin-right: 12px;
    border-radius: 23px; */
    width:199px;
    box-sizing: border-box;
    background-color: pink;
    float: left;
    width: 48%;
}
.sixth{
    background-color:rgb(231, 230, 241);
    border: 3px solid rgb(64, 6, 119);
    padding: 23px 56px 68px 78px;
    /* padding: y(top/bottom) x(left/right); */
    /* padding-top: 23px;
    padding-bottom: 56px;
    padding-left: 68px;
    padding-right:78px; */
    /* padding: 34px 19px; */
     margin: 14px 19px 10px 12px;
   /* margin-top: 14px;
    margin-bottom: 19px;
    margin-left: 10px;
    margin-right: 12px;
    border-radius: 23px; */
    width:199px;
    box-sizing: border-box;
    background-color: pink;
    float: right;
    width: 50%;
}
#element{
    display:flex;
    border: 4px solid red;
    /* height: auto; */
    width: 1000px;
    margin: auto;
    /* padding-right: 0px; */
    box-sizing: border-box;
    text-align: center;
    text-decoration: solid;
}

#Footer{
    font-size: 4rem;
    /* margin:2.5rem; */
    /* font-variant: small-caps; */
} 
@media screen and (min-width: 600px){
#main {
    width: 1000px;
}

#Footer {
    font-size: 4rem;
}
}
/* CSS for screens less than or equal to 600px */
@media screen and (max-width: 600px) {
    #main {
        width: 100%;
    }

    #Footer {
        font-size: 2rem;
    }
